
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#" routerLink='users'>Logo</a>

  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink='users' >Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='comments' >Comments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='posts' >Posts</a>
    </li>
  </ul>
  <ul >
    <li class="nav-item">
      <a class="nav-link" href="#">logout</a>
    </li>
  </ul>8
</nav>